.idea
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/.gitignore
.idea/codeStyles/
.idea/misc.xml
.idea/modules.xml
.idea/parallel_labs.iml
.idea/sbt.xml
.idea/vcs.xml
lab1/lab1-par-2
lab1/lab1-par-4
lab1/lab1-par-6
lab1/lab1-par-8
lab1/lab1-seq
lab1/lab_no_comment
lab2/lab2-amd
lab2/lab2_no_com
lab2/lab_no_comment
lab3/lab3-dynamic-mp
lab3/lab3-dynamic-mp-128
lab3/lab3-dynamic-mp-16
lab3/lab3-dynamic-mp-32
lab3/lab3-dynamic-mp-4
lab3/lab3-dynamic-mp-8
lab3/lab3-guided-mp
lab3/lab3-guided-mp-128
lab3/lab3-guided-mp-16
lab3/lab3-guided-mp-32
lab3/lab3-guided-mp-4
lab3/lab3-guided-mp-8
lab3/lab3-mp
lab3/lab3-mp-dynamic
lab3/lab3-mp-guided
lab3/lab3-mp-static
lab3/lab3-static-mp
lab3/lab3-static-mp-128
lab3/lab3-static-mp-16
lab3/lab3-static-mp-32
lab3/lab3-static-mp-4
lab3/lab3-static-mp-8
lab3/lab_no_comment
lab3/lab3-dynamic-mp-25
lab3/lab3-guided-mp-25
lab3/lab3-static-mp-25
lab4/lab4-mp
lab5/
